.columns {
  float: left;
  width: 32%;
  padding: 8px;
}

.price {
  list-style-type: none;
  border: 1px solid var(--sapContent_Placeholderloading_Background);
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.price:hover {
  box-shadow: 0 8px 12px 0 var(--sapNeutralColor);
}

.price .header {
  background-color: var(--sapIndicationColor_4_Active_Background);
  color: var(--sapIndicationColor_3_TextColor);
  font-size: 25px;
}

.price li {
  border-bottom: 1px solid var(--sapContent_Placeholderloading_Background);
  padding: 20px;
  text-align: center;
  color: var(--sapTextColor);
}

.price .grey {
  background-color: var(--sapContent_Placeholderloading_Background);
  font-size: 20px;
}
